<% if current_user %>
  <p> You singin as <%=current_user.email %> </p>
  <p>Your role is <%= current_user.role %> </p>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <p>You are not signin </p>
  <%=  link_to "Sign up", new_user_registration_path %>
 <%end%>
